<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&family=Vidaloka&family=Work+Sans:wght@100;300&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
    <header>
      <a href="/"><img id="logo" src="https://i.imgur.com/nQRX68u.png" alt="logo"></a>
      <hr />

      <% if (user) { %>
        <nav>
          <a href="/cruises">MY CRUISES</a>
          <a href="#">MY PASSPORT</a>
          <a href="cruises/new">ADD CRUISE</a>
          <a id="logout" href="/logout">LOG OUT</a>
        </nav>
      <% } %>
  </header>
