</head>
<body>
  <header>
    <a href="<%= user ? '/mypassport' : '/' %>"><img id="logo" src="https://i.imgur.com/nQRX68u.png" alt="logo"></a>
    <hr />

    <% if (user) { %>
      <nav>
        <a href="/cruises">MY CRUISES</a>
        <a href="/mypassport">MY PASSPORT</a>
        <a href="/cruises/new">ADD CRUISE</a>
        <a id="logout" href="/logout">LOG OUT</a>
      </nav>
    <% } %>
</header>