<%- include('./partials/header.ejs') %>

<% if (user) { %>
  <a id="logout" href="/logout">LOG OUT</a>
  <main class="welcome" id="user-home">
    <h1>Welcome, <%= user.name %>!</h1>
    <nav>
      <a href="#" class="button-hover">ADD CRUISE ALBUM</a>
      <a href="#" class="button-hover">MY PASSPORT</a>
      <a href="#" class="button-hover">MY CRUISE ALBUMS</a>
    </nav>
  </main>
<% } else { %>
  <main class="welcome" id="signup">
    <div id="signup-box">
      <h1>Ahoy There!</h1>
      <p>Relive your cruise adventures with Captains Log! Document daily highlights, create albums, and watch your travel legacy unfold in a personalized passport, capturing the richness of maritime experiences.</p>
      <button><a id="log-in" href="/auth/google" class="login">Sign-up / Log-In</a><img src="https://i.imgur.com/FHjYyi0.png"/></button>
    </div>
  </main>

  <section>
    <img id="wave-1" class="waves seasick" src="https://i.imgur.com/lgKcxfP.png">
    <img id="boat-pic" class="slide-in" src="https://i.imgur.com/x8iOF5P.png">
    <img id="wave-2" class="waves seasick2" src="https://i.imgur.com/K2z3Z9j.png">
  </section>
<% }%>


 

<%- include('./partials/footer.ejs') %>