<%- include('../partials/header-pre-link') %>
<link rel="stylesheet" href="/stylesheets/cruise-deets.css" />
<%- include('../partials/header-post-link') %>

<h3>test</h3>

<%- include('../partials/footer') %>