<%- include('../partials/header-pre-link') %>
<link rel="stylesheet" href="/stylesheets/cruises/editcruise.css" />
<%- include('../partials/header-post-link') %>


<form class="fadein" id="new-cruise-form" action="/cruises/<% cruise._id %>" method="PUT">
    <h1>Edit Cruise</h1>
    <label>Cruise Title:</label>
    <input type="text" name="title" maxlength="30" placeholder="'Disney Hawaiian from Honolulu'" />

    <label>Number of Days:</label>
    <input type="number" name="numDays">

    <label>Cruise Line:</label>
    <select name="cruiseLine">
        <option value="Disney">Disney</option>
        <option value="Princess">Princess</option>
        <option value="Royal Caribbean">Royal Caribbean</option>
        <option value="Carnival">Carnival</option>
        <option value="Celebrity">Celebrity</option>
    </select>
    
    <label>Cruise Boat:</label>
    <input type="text" name="cruiseBoat">

    <label>Embarkation Date:</label>
    <input type="date" name="startDate">

    <label>Disembarkation Date:</label>
    <input type="date" name="endDate">

    <label>Itinerary:</label>
    <input type="text" name="itinerary">

    <label>Notes About This Cruise:</label>
    <textarea name="notes" rows="4" cols="50"></textarea>

    <input type="submit" value="Update Cruise">    
</form>

<%- include('../partials/footer') %>