main {
  text-align: center;
}

h1 {
  font-size: 4vmin;
}

div p {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.7vmin;
  letter-spacing: 0.25vmin;
  color: white;
}

.passport-label {
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: normal;
  margin-top: 2vmin;
  display: inline-block;
}

main, section, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#passport {
  width: 35%;
  display: flex;
  flex-direction: row;
  margin-top: 3vmin;
}

section p:last-child {
  margin-bottom: 5vmin;
}

section, footer {
  width: 100%;
  padding: 3vmin 2vmin;
  min-height: 6vmin;
}

section, footer {
  padding: 2vmin;
  border-radius: 1vmin;
  text-align: center;
  background:linear-gradient(to right, #3a3a91, #3a3a91, #3a3a91, #3a3a91, #3a3a91, #282865);
  box-shadow: 2.6px 5.3px 5.3px hsl(0deg 0% 0% / 0.42);
}

#passport img {
  margin: 1vmin 0;
  border-radius: 50%;
  border: 2px solid white;
}

footer {
  background: linear-gradient(to left, #ffffff, #f8f8f8, #f8f8f8, #f8f8f8, #f8f8f8, #f8f8f8, #d4d2d2);
  text-align: center;
  display: block;
}

footer p {
  color: black;
}




