body {
  font-family: 'Work Sans';
  font-weight: 300;
}

body {
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
}

#logo {
  width: 35vmin;
  margin: 3vmin auto;
  display: block;
}

/* boat and waves styling */
@keyframes slide {
  0% {transform: translate(-34vw);}
   10% {transform: translate(0vw);}
  100% {transform: translate(100vw);}
}

@keyframes seasick {
  0% {transform: translate(0, 0vmin);}
  50% {transform: translate(0, -1vmin);}
  100% {transform: translate(0, 0vmin);}
}

@keyframes seasick2 {
  0% {transform: translate(0, 0vmin);}
  50% {transform: translate(0, 1vmin);}
  100% {transform: translate(0, 0vmin);}
}

.slide-in {
  animation: slide 150s infinite;
}

.seasick {
  animation: seasick 8s infinite;
}

.seasick2 {
  animation: seasick2 8s infinite;
}

#boat-pic {
  width: 35%;
  min-width: 34%;
  bottom: 8%;
  position: absolute;
  z-index: 2;
}

.waves {
  right: 0;
  width: 102%;
  height: 15%;
}

#wave-1 {
  position: absolute;
  bottom: 2vmin;
  z-index: 1;
}

#wave-2 {
  position: absolute;
  bottom: 0;
  z-index: 3;
}

@media (max-width: 1250px) {
  .waves {
    width: 100vw;
    height: 10%;
  }

  #boat-pic {
    width: 35%;
  }
}

/* index/login page styling - unauthed user */
main, #signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#signup-box {
  height: auto;
  padding: 5vmin;
  background: rgba(238, 235, 225, 0.546);
  border-radius: 5vmin;
  box-shadow: 0.6px 1.3px 1.3px hsl(0deg 0% 0% / 0.48)

}

.welcome > h1, #signup-box>h1 {
  font-size: 5vmin;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.25vmin;
}

#signup p {
  font-size: 2vmin;
  margin: 1.5vmin 0;
  width: 25vw;
  line-height: 3.5vmin;
  text-align: center;
}

#signup button {
  margin: 1vmin;
  font-family: inherit;
  font-size: 2vmin;
  padding: 1vmin 2vmin;
  display: flex;
  justify-content: center;
  background: white;
  border: 2px solid black;
  align-items: center;
  border-radius: 6vmin;
}

#signup button a {
  text-decoration: none;
  color: black;
  margin-right: 1vmin;
}

#signup button img {
  height: 30px;
}

/* for auth users main page */
#logout {
  text-decoration: none;
  font-size: 1.5vmin;
  letter-spacing: 0.5vmin;
  padding: 1.5vmin 2.5vmin;
  margin: 2vmin 5vmin;
  background: black;
  color: white;
  border-radius: 4vmin;
  position: absolute;
  right: 0;
  top: 0;
}

nav {
  margin: 7vmin auto;
}

nav>a {
  text-decoration: none;
  letter-spacing: 0.5vmin;
  padding: 2vmin 3vmin;
  margin: 9vmin 4vmin;
  border: 2px solid black;
  border-radius: 4vmin;
  color: black;
}

.button-hover:hover {
  background: black;
  color: white;
  transition: 0.25s;
}

.fadein {
  animation: fadein 6s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media (max-width: 1250px) {
  .welcome a {
    display: block;
    margin: 5%;
    text-align: center;
  }

  .welcome > h2 {
    max-width: 80vw;
  }

  .welcome {
    height: 70vh;
  }

  #signup {
    align-items: center;
    padding: 0;
  }

  #signup p {
    width: 80vw;
    font-size: 4vmin;
    line-height: 5vmin;
  }

  #logo {
    width: 50%;
  }

  #signup button {
    width: 50%;
    font-size: 3vmin;
  }

  nav a {
    font-size: 4vmin;
  }

  #logout-container {
    text-align: center;
  }

  #logout {
    position: static;
    display: inline-block;
    font-size: 4vmin;
    padding: 2vmin 3vmin;
  }
  
}