* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans';
  font-weight: 300;
}

h1 {
  font-family: "Vidaloka", serif;
  font-size: 4vmin;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.7vmin;
  margin-bottom: 3vmin;
}

.fadein {
  animation: fadein 2s;
}

.grow:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* header / navbar styling */
#logo {
  width: 35vmin;
}

hr {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 3vmin;
}

header>nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

header>nav>a {
  margin: 0 1.2vmin;
  color: black;
  letter-spacing: 0.25vmin;
  text-decoration: none;
}

#logout {
  text-decoration: none;
  font-size: 1.5vmin;
  letter-spacing: 0.5vmin;
  padding: 1vmin 2vmin;
  background: black;
  color: white;
  border-radius: 4vmin;
}

@media (max-width: 1250px) {
  .welcome a {
    display: block;
    margin: 5%;
    text-align: center;
  }

  .welcome > h1 {
    max-width: 80vw;
  }

  .welcome {
    height: 70v;
  }

  hr {
    display: block;
    width: 90vw;
    margin: 4vmin 0;
  }

  header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header>nav {
    flex-direction: column;
    justify-content: center;
  }

  header>nav>a {
    margin: 1vmin;
    font-size: 5vmin;
  }

  #logo {
    width: auto;
  }

  #logout {
    font-size: 4vmin;
  }
}