body {
  text-align: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vmin;
}

aside {
  height: 60vh;
  padding: 5vmin;
  background-color: rgb(238, 223, 198);
  font-family: 'Special Elite', serif;
  line-height: 4vmin;
  text-align: center;
  margin-right: 10vmin;
  border-radius: 1vmin;
  position: relative;
  box-shadow: 0.6px 1.3px 1.3px hsl(0deg 0% 0% / 0.48);
  min-width: 45vmin;
}

#edit-delete-icons {
  position: absolute;
  top: -1.75vmin;
  right: -2vmin;
  display: flex;
}

form > button, div>a {
  height: 4vmin;
  width: 4vmin;
  margin: 0.25vmin;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

#edit {
  background: url('https://i.imgur.com/b98c7LC.png');
  background-color: rgb(169, 59, 59);
  background-size: 56%;
  background-position: 54% 40%;
  background-repeat: no-repeat;
}

#delete {
  background: url('https://i.imgur.com/Ru2aqyW.png');
  background-color: rgb(169, 59, 59);
  background-size: 53%;
  background-position: 49% 43%;
  background-repeat: no-repeat;
}

aside > div {
  text-align: left;
}

h2 {
  margin-bottom: 0;
  text-decoration: underline dotted;
}

#desc {
  margin-bottom: 3vmin;
  line-height: 2.25vmin;
}

#no-logs {
  position: absolute;
  left: 37%;
  bottom: 49%;
}

p {
  max-width: 43vmin;
  margin: 0;
  color: rgb(55, 55, 124);
}

span {
  text-decoration: underline;
  text-transform: uppercase;
  margin-right: 0.5vmin;
  color: black;
}

.tape {
  position: absolute;
  width: 13vmin;
}

.tape1 {
  top: -1vmin;
  left: -3.5vmin;
  transform: rotate(-37deg)
}

.tape2 {
  bottom: -0.5vmin;
  right: -3.5vmin;
  transform: rotate(144deg)
}

/* logs styling */
section {
  position: relative;
  box-shadow: 1.5px 3.0px 3.0px hsl(0deg 0% 0% / 0.45);
}

section h2 {
  position: absolute;
  left: 46%;
  top: 1.25vmin;
  color: white;
}

#logs-grid {
  background: linear-gradient(
    to bottom,
    #f4ebe0,
    #f4ebe0 90%,
    #adf2f4 10%,
    #adf2f4
  );
  background-size: 100% 2.5vmin;
  height: 60vh;
  width: 50vw;
  border-top: 5.5vmin solid rgb(223, 204, 173);
  border-radius: 0.75vmin 0 0 0;
  font-family: 'Special Elite', serif;
  padding-top: 3.1vmin;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#add-log {
  text-decoration: none;
  position: absolute;
  top: -1.75vmin;
  right: -1vmin;
}

#add-log>div {
  background: black;
  color: white;
  font-size: 3vmin;
  border-radius: 50%;
  height: 4vmin;
  width: 4vmin;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logs-grid>div {
  display: flex;
  align-items: center;
  margin-bottom: 1vmin;
  justify-content: center;
  text-align: center;
}

.log-title {
  font-size: 1.7vmin;
  line-height: 1.7vmin;
  display: inline-block;
}

.log-title a {
  color: black;
  text-transform: uppercase;
  margin-left: 3vmin;
}

@media (max-width: 1600px) {
  main {
    flex-direction: column;
  }

  aside {
    width: 80vw;
    margin: 4vmin 0;
    height: fit-content;
  }

  aside h2 {
    font-size: 5vmin;
    margin-bottom: 1vmin;
    line-height: 6vmin;
  }
  aside p {
    max-width: 100%;
    font-size: 4.25vmin;
    line-height: 6vmin;
  }

  #desc {
    font-size: 4.25vmin;
    line-height: 6vmin;
  }

  #cruise-details-box {
    text-align: justify;
  }

  section, #logs-grid {
    width: 80vw;
  }

  #logs-grid {
    height: fit-content;
    flex-wrap: nowrap;
  }

  #logs-grid p {
    font-size: 4vmin;
    line-height: 5vmin;
    margin-bottom: 3vmin;
    border-top: 4vmin;
  }
}




