#new-cruise-form, #new-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#center-the-div {
  text-align: center;
}

label {
  text-transform: uppercase;
  letter-spacing: 0.25vmin;
  margin-bottom: 0.5vmin;
}

input, select, textarea {
  margin-bottom: 3vmin;
  width: 30%;
  text-align: center;
  font-family: 'Work Sans';
  font-weight: 400;
  padding: 0.5vmin;
  border-radius: 2vmin;
  border: 2px solid black;
  color: darkblue;
}

#button-holder {
  display: flex;
  justify-content: center;
}

input[type="submit"],input[type="reset"] {
  width: 24vmin;
  cursor: pointer;
  border: none;
  background: black;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.25vmin;
  margin: 0 4vmin;
}

input[type="reset"] {
  background: red;
}

@media (max-width: 1200px) {
  input, select, textarea {
    width: 70%;
    font-size: 4vmin;
  }

  label {
    font-size: 4vmin;
  }

  input[type="submit"],input[type="reset"] {
    width: 35vmin;
    margin-top: 5vmin;
  }
}

