<%- include('../partials/header-pre-link') %>
<link rel="stylesheet" href="/stylesheets/logs/log-deets.css" />
<%- include('../partials/header-post-link') %>

<main>

  <section class="slide-up" id="paper">

  </section>
</main>

<%- include('../partials/footer') %>